

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/* Header section start */
header {
  position: fixed;
  width: 100%;
  color: #fff;
  text-align: center;
  transition: top 0.3s;
  z-index: 1000;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 10px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}
.nav-link-login-icon {
  display: inline-block;
}

.nav-link-login-text {
  display: none;
}
.section-1 {
  background-image: url(./assets/home/GHL-V-WEB-LAYOUT-HOME_02.jpg);
  background-size: cover;
}

#initialNav {
  top: 15px;
}

#scrolledNav {
  top: -85px;
}
#headerSection {
  width: 100%;
   height: 100vh;/* Adjust height as needed */
  background-size: 150%; /* Initial zoom level */
  background-position: center;
  transition: background-size 5s;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    z-index: 1; /* Ensure overlay is on top of the image */
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #ddcbcb !important;
}
.sticky-top {
  z-index: 1020; /* Higher than default to ensure it stays on top */
}
.zoom-out {
    background-size: 120%; /* Adjust the value to control the zoom level */
}

.navbar {
  margin: auto;
  width: 65%;
  border-radius: 50px;
}
.navbar1 {
  border-bottom: 5px solid #cca776 !important;
  margin: auto;
  width: 77%;
  border-radius: 0px 0px 65px 65px !important;
  background-color: black;
}

.header {
  width: 100%;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navbar-nav .nav-item .nav-link {
  color: white;
}
.navbar-nav .nav-item .nav-link:hover {
  color: #ddd;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: gray;
}
.header-logo-2 {
  margin-left: 25px;
 
}
#heroText span.ghl {
  color: #e61e25;
}
.logo-image {
  background: #fff;
  padding: 10px 14px 8px 20px;
  border-radius: 31px;
  font-size: 26px;
  margin-left: -15px;
  border-right: 5px solid #cca776;
}
.logo-image1 {
  background: #fff;
  padding: 10px 30px 8px 30px;
  border-radius: 31px;
  font-size: 26px;
  margin-right: -15px;
  border-left: 5px solid #cca776;
}
.navbar-1 {
  border-radius: 50px;
}

/* Header section end  */

.btn {
  padding: 10px 20px;
  font-size: 1.2em; /* Adjust the font size as needed */
  background-color: #007bff; /* Button background color */
  color: white; /* Button text color */
  border: none;
  border-radius: 5px;
  text-decoration: none;
}
.btn:hover {
  background-color: #0056b3; /* Button background color on hover */
}

.box {
  border: 2px solid #393939;
  padding: 40px 20px;
  border-radius: 37px;
  background: #13131300;
  line-height: 2;
}
.box-1 {
  background: #d7d7d7;
  padding: 30px 30px;
  border-radius: 10px;
}
.color {
  color: #cca776;
}
.color1 {
  color: black;
  font-weight: 700;
  font-size: 20px;
}
.tab-content-bg {
  background-color: rgb(50 49 49);
}
.font-weight {
  font-weight: 700;
}
.tabcontent {
  display: none;
}

.tablinks {
  background-color: black;
  border: none;
  color: #f2f2f2;
  padding: 10px 50px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 0px 5px 4px #3d3d3d;
  font-weight: 700;
}

.tablinks:hover {
  background-color: black;
  border: none;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
  transition: background-color 0.3s;
  position: absolute;
  top: 10%;
  left: 4%;
 

}

.active .dot {
  background-color: green;
}
.imageborder {
  border-radius: 10px;
  box-shadow: 0px 0px 10px 10px #272424;
}
.tabcontent-box {
  background: black;
  border-radius: 20px 0px 20px 0px;

}
.margin-auto {
  margin: auto;
}
.heading {
  background: #fff;
  color: black;
  padding: 2px 20px 17px 20px;
  font-size: 22px;
  border-radius: 0px 0px 30px 30px;
}
.text-with-background {
  background: #fff;
    width: 40%;
    padding: 15px 0px 1px 0px;
    border-radius: 0px 0px 13px 13px;
}
.text-dark-1 {
  color: black;
  font-size: 20px;
}
.text-dark-11 {
  color: black;

}
.tabcontent {
  display: none;
}

.tabcontent.active {
  display: block;
}

/* footer css */

.footer {
  background-color: #ffffff;
  background-image: url(./assets/footer/Dot-Map.png);
  border-radius: 60px 60px 0 0;
  font-size: 15px;
  border-top: 9px solid #cca776;
}
.footer {
  padding-top: 30px;
}
.text-3 {
  color: #e61e25;
  font-weight: bold;
  font-size: 20px;
}
.secondary-color{
    color: #e61e25;
}
.align a {
  text-decoration: none;
 
}
.align a:hover {
  color: #e61e25;
 
}
.align ul li {
  list-style-type: none;
}
.text {
  color: rgb(83, 81, 81);
  font-size: 16px;
}
.bold p {
  font-weight: 700;
}
.social-media a img {
  width: 2%;
}
.footer-logo{
    width: 80%;
}
.footer-font-weight{
  font-weight: 600;
  color: #212529;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    justify-content: center;
  }
}
@media (min-width: 320px) and (max-width: 600px){
    .mobile-size{
        font-size: medium !important;
    }
 
    .social-media a img {
        width: 5% !important;
    }
    .footer-logo{
        width: 36% !important;
    }
    .tablinks {
      background-color: black;
      border: none;
      color: #f2f2f2;
      padding: 10px 50px;
      cursor: pointer;
      border: none;
      border-radius: 10px;
      position: relative;
      box-shadow: 0px 0px 5px 4px #524b4b;
      font-weight: 700;
      width: 100% !important;
  }
  .text-with-background {
    background: #fff;
      width: 100% !important;
      /* padding: 6px 0px 7px 60px; */
      border-radius: 0px 0px 13px 13px;
      margin-bottom: 30px;
  }
  .fund-profile {
    background: grey;
    padding: 40px 10px 40px 10px !important;
    border-radius: 0px 20px 20px 0px;
    border-bottom: 5px solid #3b3a3a;
    position: relative;
    overflow: hidden;
}
.fund-profile-image {
  position: absolute !important;
  top: 10% !important;
  right: 5% !important;
  width: 91% !important;
  height: 18% !important;
}
.fund-profile-box{
  margin-top: 150px;
}
.Naman{
  margin-bottom: 100px;
}
.text-dark-1 {
  color: black;
  font-size: 16px !important;
}
}
@media  (max-width: 768px) {
    #initialNav{
        display: none; /* Hide scrolledNav on mobile */
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        display: block;
        margin: 10px 0;
    }

    #scrolledNav {
        top: -10px !important;
        /* border-bottom: 5px solid #cca776; */
        box-shadow: 0px 7px 13px 0px #cca776;
      }
    .navbar {
        margin: auto; 
        width: 100%;
     border-radius: 0px;
    }
    .navbar1 {
        border-bottom: 0 !important; 
        margin: 0; 
        width: 100%;
         border-radius: 0px !important;
    }
    .nav-link-login-icon {
      display: none;
    }
    
    .nav-link-login-text {
      display: inline-block;
      color: white;
      text-decoration: none;
      padding: 0.5rem 1rem;
    }
    .box {
     
      line-height: 20px;
  }
  
}
@media (min-width:700px) and (max-width:789px){
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 100% !important;
}
/* .text-with-background {
  background: #fff;
  width: 50%;
  padding: 6px 0px 7px 60px;
  border-radius: 0px 0px 13px 13px;

} */
}
    /* Custom style for changing the navbar-toggler icon color to white */
    .navbar-light .navbar-toggler-icon {
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(255, 255, 255, 1)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
    
    }
    .navbar-toggler {
        padding: .25rem .75rem;
        font-size: 1.25rem;
        /* line-height: 1; */
        background-color: transparent;
        border: none !important;
        border-radius: .25rem;
    }
 
    button:focus,
button:active {
  outline: none; /* Ensures no outline appears on focus or active state */
  border: none; /* Ensures no border appears on focus or active state */
}

/* mobilr view change in tab  */
.tab-container {
  overflow-x: auto;
  white-space: nowrap;
}

.tab-container .col-md-3 {
  display: inline-block;
  float: none; /* Prevent columns from floating */
}

.tab-container button {
  display: block;
  white-space: normal; /* Allow button text to wrap */
  width: 100%; /* Ensure buttons take full width of their containers */
}


@media (max-width: 768px) {
  .tab-container {
    display: flex;
    flex-wrap: nowrap;
  }
}

/* fund css */
.invest-growth-section{
  border-width: 3px;
  border-style: dotted;
  border-color: #fff;
}

.fund-box{
  border-block-end-color: red;
  background: gray;
  padding: 0px 15px 15px 15px;
  border-radius: 0px 0px 25px 25px;
  border-bottom: 3px solid #3b3a3a;
  position: relative; 
  overflow: hidden;
}
.fund-header {
  text-align: center;
  background: #3b3a3a;
  padding: 12px 0px;
  border-radius: 0px 0px 25px 25px;
  color: #fff;
}


.corner-box {
  width: 50px;
  height: 50px;
  background-color: #3b3a3a;
  position: absolute;
  bottom: 0;
  right: 0;
 
  border-radius: 50px 0px 0px 0px;
}
.impact{
  background: #323131;
  color: #fff;
}
.fund-growth{
  background-color: black;
}
.fund-manager{
  position: relative;
}
.fund-profile-image{
  position: absolute;
  top: 38%;
  right: 72%;
  width: 25%;
  height: 40%;
  z-index: 1;
  border-radius: 32px;
}
.fund-profile{
  background: grey;
  padding: 50px 0px 50px 126px;
  border-radius: 0px 20px 20px 0px;
    border-bottom: 5px solid #3b3a3a;
    position: relative;
    overflow: hidden;
}
.corner-box-1 {
  width: 50px;
  height: 50px;
  background-color: #3b3a3a;
  position: absolute;
  bottom:0;
  right: 0;
 
  border-radius: 50px 0px 0px 0px;
}
.fund-profile-text{
line-height: 2;
}

/* login css */
.login-row{
  height: 100vh;
}
.login-logo{
/* background-color: #EDEEF0; */
background-color: #272424;
padding: 200px 35px 0px 79px;
}
.login-div{
  padding-top: 180px;
  background-color: #919294;
}
.login-form{
  background-color: black;
  color: #fff;
  border-radius: 10px;
  padding: 10px 0px 25px 0px;
}
.login-title{
  border-bottom: 2px solid #fff;
}
.login-number{
  padding: 15px 75px 15px 51px;
    border-radius: 10px;
}
.form-outline{
position: relative;
}
.form-outline i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  left: 111px;
  color: black;
  font-size: x-large;
}
.login-form a{
  color: #fff;
  text-decoration: none;

}


.logo {
    max-width: 200px;
    margin: 0 auto;
}

#login-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#login-form h2 {
    margin-bottom: 20px;
}

.input-group-text {
    background-color: #ffffff;
    border-right: none;
}

.input-group .form-control {
    border-left: none;
}

.btn-block {
    display: block;
    width: 100%;
}